:root {
  --foreground--1: hsl(212, 24%, 26%);
  --foreground--2: hsl(226, 13%, 56%);
  --foreground--3: hsl(212, 24%, 30%);

  --background--1: hsl(228, 33%, 97%);
  --background--2: hsl(228, 33%, 94%);
  --background--3: hsl(229, 38%, 91%);
  --clr--transparent--1: rgba(0, 0, 0, 0.05);

  --clr--active--1: hsl(232, 100%, 70%);
  --clr--danger--1: hsl(358, 79%, 66%);
  --clr--success--1: hsl(155, 100%, 50%);
  --clr--success--2: hsl(157, 65%, 57%);

  --clr--warn--1: hsl(39, 100%, 50%);
  --clr--neutral--1: hsl(222, 17%, 47%);
  --clr--border--1: rgba(0, 0, 0, 0.1);
  --clr--border--2: hsl(222, 17%, 47%);
  --clr--border--3: hsl(222, 17%, 47%);
  --shadow--1: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --max--width: 55rem;
  --border--radius--1: 0.4rem;
  --border--radius--2: 1.25rem;
  --gap: 4rem;

  --zindex--nav: 999;
  --zindex--modal: 1000;

  --font--main: 'Poppins', sans-serif;
  --font--sec: 'Comfortaa', 'Poppins', cursive;
}

[data-theme='dark'] {
  --background--1: hsl(0, 0%, 10%);
  --background--2: hsl(210, 6%, 12%);
  --background--3: hsl(216, 18%, 18%);
  --foreground--1: hsl(0, 0%, 93%);
  --foreground--2: hsl(216, 15%, 59%);
  --foreground--3: hsl(209, 3%, 89%);

  --clr--active--1: hsl(232, 100%, 75%);
  --clr--success--1: hsl(157, 65%, 57%);
  --clr--transparent--1: rgba(129, 119, 139, 0.178);

  --clr--border--1: rgba(129, 119, 139, 0.278);
  --shadow--1: rgba(157, 145, 168, 0.21) 0px 0px 0px 1px;
}
