:root {
  --foreground--1: hsl(212, 24%, 26%);
  --foreground--2: hsl(210, 20%, 40%);
  --background--1: hsl(228, 33%, 97%);
  --background--2: hsl(228, 33%, 94%);
  --background--3: hsl(0, 0%, 19%);
  --clr--transparent--1: rgba(0, 0, 0, 0.05);

  --clr--active--1: hsl(216, 79%, 62%);
  --clr--danger--1: hsl(358, 79%, 66%);
  --clr--success--1: hsl(155, 100%, 50%);
  --clr--success--2: hsl(157, 65%, 57%);

  --clr--warn--1: hsl(39, 100%, 50%);
  --clr--neutral--1: hsl(222, 17%, 47%);
  --clr--border--1: hsl(0, 0%, 81%);
  --clr--border--2: hsl(222, 17%, 47%);
  --clr--border--3: hsl(222, 17%, 47%);
  --shadow--1: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  --max--width: 67.5rem;
  --border--radius--1: 0.4rem;
  --border--radius--2: 1.25rem;
  --gap: 4rem;

  --zindex--nav: 999;
  --zindex--modal: 1000;
}

[data-theme='dark'] {
  --foreground--1: hsl(0, 0%, 93%);
  --foreground--2: hsl(180, 1%, 77%);
  --clr--active--1: hsl(224, 100%, 70%);
  --clr--success--1: hsl(157, 65%, 57%);

  --clr--transparent--1: rgba(129, 119, 139, 0.178);

  --background--2: hsl(216, 18%, 15%);
  --background--1: hsl(0, 0%, 11%);

  --clr--border--1: hsl(0, 0%, 28%);

  --shadow--1: rgba(129, 119, 139, 0.178) 0px 0px 0px 1px;
}
