@import '../../scss/mixins';

.card {
  margin: var(--gap) 0;
  color: var(--foreground--2);
  border-radius: var(--border--radius--1);
  transition: 0.2s linear;
  display: block;

  @include breakpoint-up(tablet) {
    padding: 2rem;
    box-shadow: var(--shadow--1);
    margin: 2rem 0;
  }

  @include breakpoint-up(laptop) {
    &:hover {
      transform: scale(1.04);
      background-color: var(--clr--transparent--1);
    }
  }
}

.desc {
  color: var(--foreground--2);
}

.title {
  color: var(--foreground--1);
  font-size: 1.3rem;
  font-family: var(--font--sec);
  line-height: 2.2rem;
}
