@import '../../scss/mixins';

.hero {
  margin-bottom: var(--gap);

  h1 {
    text-align: center;
  }
}

.skills {
  font-size: 2rem;
  width: 100%;
  max-width: 15rem;
  display: flex;
  justify-content: space-between;
  margin: 2.3rem auto;
}

.buttons {
  width: 100%;
  max-width: 22rem;
  margin: auto;
}

.btn {
  padding: 1rem;
  background-color: var(--clr--neutral--1);
  width: 100%;
  max-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  color: white;
  @include focus-visible;
}

@include breakpoint-up(tablet) {
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    margin: 0;
  }
}

.react {
  animation: 1s pop;
}

.next {
  animation: 1s pop;
  animation-delay: 0.3s;
}

.node {
  animation: 1s pop;
  animation-delay: 0.6s;
}

.express {
  animation: 1s pop;

  animation-delay: 0.9s;
}

@keyframes pop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  10% {
    transform: translateY(0);
  }
}
