@import '../../scss/mixins';

.header {
  text-align: center;

  @include breakpoint-up(laptop) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.container {
  border-bottom: 1px solid var(--clr--transparent--1);
  padding-bottom: var(--gap);

  @include breakpoint-up(tablet) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.desc {
  color: var(--foreground--2);
  width: 100%;
  max-width: 30rem;
  margin: auto;
}

.title {
  span {
    color: var(--clr--active--1);
  }
}

// [id] and markdown styles

.info {
  margin-bottom: var(--gap);

  h1 {
    font-size: 2rem;
  }

  p {
    color: var(--foreground--2);
  }
}

.markdown {
  color: var(--foreground--3);

  p {
    margin: 2rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  strong {
    color: var(--foreground--1);
    margin: 2rem 0;
  }

  p code {
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--background--2);
    border-radius: var(--border--radius--1);
    color: var(--foreground--1);
  }

  a {
    position: relative;
    border-radius: 5px;
    width: auto;
    color: var(--clr--active--1);
    font-weight: 600;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      bottom: -0.2rem;
      right: 0;
      width: 0;
      height: 2px;
      background-color: var(--clr--active--1);
      transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }

  ul {
    list-style-type: disc;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    li {
      margin: 0.5rem 0;
      line-height: 2.2rem;
    }
  }

  blockquote {
    background-color: var(--background--2);
    padding: 0.1rem 2.3rem;
    border-radius: var(--border--radius--1);
    margin: 2rem 0;
    font-weight: 500;
    border-left: 5px solid var(--clr--active--1);
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    border-radius: var(--border--radius--1);
    margin: 2rem 0;
    box-shadow: var(--shadow--1);
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid var(--clr--transparent--1);
    border-bottom: 1px solid var(--clr--transparent--1);
    margin: 2rem 0;
  }
}
