.hero {
  text-align: center;
  width: 100%;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0 1rem;

  h1 span {
    color: var(--clr--active--1);
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--foreground--2);
  }
}

.externals {
  background-color: var(--background--2);
  padding: 1rem;
  font-size: 2rem;
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: var(--border--radius--1);
  box-shadow: var(--shadow--1);

  a {
    display: flex;
  }
}
